In [1]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

C:\Users\Ujjwal\AppData\Local\Temp\ipykernel_2328\2460453486.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [40]:
def days_to_years(days):
    return days/365.25

def bmi_calc(height,weight):
    return weight/(height/100)**2

data = pd.read_csv('cardio_train.csv')
data["age_years"] = days_to_years(data["age"])
data["bmi"] = bmi_calc(data["height"],data["weight"])

In [41]:
from matplotlib import pyplot as plt
import plotly.express as px
import numpy as np

In [42]:
df = pd.DataFrame(data)
df

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_years,bmi
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0,50.357290,21.967120
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1,55.381246,34.927679
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1,51.627652,23.507805
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1,48.249144,28.710479
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0,47.841205,23.011177
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69995,99993,19240,2,168,76.0,120,80,1,1,1,0,1,0,52.676249,26.927438
69996,99995,22601,1,158,126.0,140,90,2,2,0,0,1,1,61.878166,50.472681
69997,99996,19066,2,183,105.0,180,90,3,1,0,1,0,1,52.199863,31.353579
69998,99998,22431,1,163,72.0,135,80,1,2,0,0,0,1,61.412731,27.099251
69999,99999,20540,1,170,72.0,120,80,2,1,0,0,1,0,56.235455,24.913495

In [43]:
having_ds = df[df["cardio"]==1]
not_having_ds = df[df["cardio"]==0]
having_ds

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_years,bmi
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1,55.381246,34.927679
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1,51.627652,23.507805
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1,48.249144,28.710479
7,12,22584,2,178,95.0,130,90,3,3,0,0,1,1,61.831622,29.983588
15,24,16782,2,172,112.0,120,80,1,1,0,0,0,1,45.946612,37.858302
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69993,99991,19699,1,172,70.0,130,90,1,1,0,0,1,1,53.932923,23.661439
69994,99992,21074,1,165,80.0,150,80,1,1,0,0,1,1,57.697467,29.384757
69996,99995,22601,1,158,126.0,140,90,2,2,0,0,1,1,61.878166,50.472681
69997,99996,19066,2,183,105.0,180,90,3,1,0,1,0,1,52.199863,31.353579
69998,99998,22431,1,163,72.0,135,80,1,2,0,0,0,1,61.412731,27.099251

In [49]:
# fig = px.histogram(df,x='bmi',color="cardio",marginal='box',nbins=50)
# fig.update_layout(bargap=0.1)
# fig.show()

In [60]:
x = np.array(df["age_years"])
y = np.array(df["cardio"])

correlation = np.corrcoef(x,y)

print( correlation[0,1])

for age 0.23815922744230683

In [63]:
x = np.array(df["cholesterol"])
y = np.array(df["cardio"])

correlation = np.corrcoef(x,y)
print( correlation[0,1])

0.22114727391239694

In [65]:
x = np.array(df["bmi"])
y = np.array(df["cardio"])

correlation = np.corrcoef(x,y)
print( correlation[0,1])

0.16563209273915172

In [70]:
new_data = df[["bmi","cholesterol" ,"age_years"]]
new_output = df["cardio"]

0        0
1        1
2        1
3        1
4        0
        ..
69995    0
69996    1
69997    1
69998    1
69999    0
Name: cardio, Length: 70000, dtype: int64

In [71]:
from sklearn.model_selection import train_test_split

In [72]:
train_data, test_data, train_output, test_output = train_test_split(new_data, new_output, test_size=0.2, random_state=42)

In [103]:
clf = RandomForestClassifier(n_estimators=10000,random_state=42)
clf = clf.fit(train_data, train_output)

In [107]:
test_prediction = clf.predict(test_data)

In [108]:
def rmse(target,prediction):
  return np.sqrt(np.mean(np.square(target-prediction)))

In [109]:
rmse(test_output,test_prediction)

0.6358346595505111